body {
  background: #FCCE92;
}
.sort {
  width: 20%;
  margin:100px auto;
  right: 10px;
  top: -50px;
}
table {
  width: 50%;
  margin:100px auto 0 auto;
  text-align: center;
  border-collapse: collapse;
  background: rgb(41, 172, 111);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tbody {
  background: white;
}
tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgb(41, 172, 111);
  border-right: 1px solid rgb(41, 172, 111);
}
tbody tr:last-child {
  border-bottom: 1px solid rgb(41, 172, 111);
}
tbody tr td {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
tbody tr td:last-child {
  border: none;
}
.currentPage {
  color: red;
}
.pages {
  margin: 0 4px;
  cursor: pointer;
}
.pages__wrapper {
  width: 20%;
  margin: 20px auto;
}
